name: Build and Push to GHCR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        distribution: 'adopt'
        node-version: '18'

    - name: Build Docker Image
      run: docker build -t ghcr.io/salma-alfinda/tugas-gather1:${{ github.sha }} .

  push:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Log in to GitHub Container Registry (GHCR)
      run: docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GATHER_TOKEN }}

    - name: Push Docker Image
      run: docker push ghcr.io/salma-alfinda/tugas-gather1:${{ github.sha }}